
.container {
	padding-top: 5%;
	padding-bottom: 5%;
}

img {
	width: 100%;
}

blockquote {
	font-weight: medium;
	font-size: 18px;
	background-color: #DDD;
	padding: 1em 1em 1em 1em;
	border-radius: 8px;
	border: none;
}